<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="AdjunoGeorgeFoundation" parallel="none">
 	 <test name="FirefoxTest">
 	 	<parameter name="browser" value="firefox"/>
 			<classes>
 				  <class name="com.AdjunoGeorgeFoundation.Test.CheckEndToEndFunctionalityTest"/>
 			</classes> 	
 	</test> 
<!--  	 <test name="ChromeTest">
 	 	<parameter name="browser" value="chrome"/>
 			<classes>
 				  <class name="com.AdjunoGeorgeFoundation.Test.CheckEndToEndFunctionalityTest"/>
 			</classes> 	
 	</test> -->
</suite>